@using BVZ.BVZ.Domain.Models.Zoo.Animals.ValueTypes;
@using BVZ.Models.Admin.Guide;
@model object
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Guides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (Model is ErrorViewModel errorModel)
{
    <div style="color:darkred;">
        <p>@errorModel.ValidationErrorMessage</p>
    </div>
}

 @if (Model is DisplayAllGuidesViewModel dgVM)
{

    if (dgVM.Message != null)
    {
        if (dgVM.Status == "add")
        {
            <h5 style="color:darkgreen" ;>
                @dgVM.Message
            </h5>
        }
        if (dgVM.Status == "update")
        {
            <h5 style="color:darkgoldenrod" ;>
                @dgVM.Message
            </h5>
        }
        if (dgVM.Status == "delete")
        {
            <h5 style="color:red" ;>
                @dgVM.Message
            </h5>
        }

    }

    <h1>Guides</h1>

    <h2 class="text-secondary">All Guides</h2>
    <button type="button" class="btn btn-success">Hire Guide</button>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Namn</th>
                    <th>Kompetenser</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var guide in dgVM.Guides)
                {
                    <tr>
                        <td>@guide.Id</td>
                        <td>@guide.Name</td>
                        <td>
                            @foreach (var comp in guide.AnimalCompetences)
                            {
                                <ul class="list-group">
                                    <li class="list-group-item">@comp.AnimalArchetype</li>
                                </ul>
                            }
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="guideButtons">
                                <button type="button" class="btn btn-dark">Details</button>
                                <button type="button" class="btn btn-secondary">Update</button>
                                <form asp-controller="AdminGuide" asp-action="SoftDeleteGuide" method="post">
                                    <input type="hidden" name="guideId" value="@guide.Id">
                                    <button type="submit" class="btn btn-danger">Ta bort</button>
                                </form>


                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

