@using BVZ.BVZ.Domain.Models.Zoo.Animals.Interfaces;
@using BVZ.BVZ.Domain.Models.Zoo.Animals.Species.Air;
@using BVZ.BVZ.Domain.Models.Zoo.Animals.Species.Land;
@using BVZ.BVZ.Domain.Models.Zoo.Animals.Species.Water;
@using BVZ.BVZ.Domain.Models.Zoo.Animals.ValueTypes;
@using BVZ.Models.Home;
@using System.Reflection;
@model object
@{
    ViewData["Title"] = "Home Page";
}

@if (Model is HomeViewModel hVM)
{
    <h3>Our Lovely Animals</h3>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="container">
        <h3>Our Lovely Animals</h3>

        <div class="row">
            @foreach (var animal in hVM.ZooAnimals)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="/img/zoo-gate-icon-black-white_755164-13783.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@animal.AnimalName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@animal.Specie</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Tag: @animal.Id</h6>
                            <div class="btn-group">
                                <a asp-controller="Test" asp-action="Details" asp-route-id="@animal.Id" type="button" class="btn btn-sm btn-outline-secondary">Details</a>

                            </div>
                            @* <button asp-controller="Home" asp-action="Details" asp-route="@animal.Id" type="button" class="btn btn-primary">Details</button> *@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if (Model is TestViewModel tVM)
{
    <h1>@tVM.Animal.AnimalName</h1>
    <p>
        Särskilda förmågor:
    </p>
    <button onclick="toggleDisplay('moveDisplay')">
        Se film
    </button>

    <button onclick="toggleDisplay('soundDisplay')">
        Djurläte
    </button>

    <button onclick="toggleDisplay('abilitiesDisplay')">
        Förmågor
    </button>

    <div id="moveDisplay" style="display:none;">
        <h3>@GetMove(tVM.Animal)</h3>
    </div>

    <div id="abilitiesDisplay" style="display:none;">
        <h3>@GetAbilities(tVM.Animal)</h3>
    </div>

    <div id="soundDisplay" style="display:none;">
        <h3>@GetSound(tVM.Animal)</h3>
    </div>
}

@{
    string GetMove(BVZ.BVZ.Domain.Models.Zoo.Animals.Animal animal) => animal switch
    {
        // try first
        Ozelot ozelot => ozelot.Move(),
        Okapi okapi => okapi.Move(),
        Cheetah cheetah => cheetah.Move(),
        BaldEagle baldEagle => baldEagle.Move(),
        NorwegianBlueParrot norwegianBlueParrot => norwegianBlueParrot.Move(),
        MorayEel morayEel => morayEel.Move(),
        ElectricEel electricEel => electricEel.Move(),

        // then try habitat-types for their overrides
        var landAnimal when landAnimal.Specie == Specie.Mammal => landAnimal.Move(),
        var airAnimal when airAnimal.Specie == Specie.Bird => airAnimal.Move(),
        var waterAnimal when waterAnimal.Specie == Specie.Fish => waterAnimal.Move(),

        // finally hand out the most basic method for move
        _ => animal.Move()
    };

    string GetAbilities(BVZ.BVZ.Domain.Models.Zoo.Animals.Animal animal) => animal switch
    {
        Ozelot ozelot => ozelot.DisplayAnimalProperties(ozelot),
        Okapi okapi => okapi.DisplayAnimalProperties(okapi),
        Cheetah cheetah => cheetah.DisplayAnimalProperties(cheetah),
        BaldEagle baldEagle => baldEagle.DisplayAnimalProperties(baldEagle),
        NorwegianBlueParrot norwegianBlueParrot => norwegianBlueParrot.DisplayAnimalProperties(norwegianBlueParrot),
        MorayEel morayEel => morayEel.DisplayAnimalProperties(morayEel),
        ElectricEel electricEel => electricEel.DisplayAnimalProperties(electricEel),

        _ => "Det finns inga specifika djur-egenskaper listade."
    };

    string GetSound(BVZ.BVZ.Domain.Models.Zoo.Animals.Animal animal) => animal switch
    {
        Ozelot ozelot => ozelot.MakeSound(),
        Okapi okapi => okapi.MakeSound(),
        Cheetah cheetah => cheetah.MakeSound(),
        BaldEagle baldEagle => baldEagle.MakeSound(),
        NorwegianBlueParrot norwegianBlueParrot => norwegianBlueParrot.MakeSound(),

        var landAnimal when landAnimal.Specie == Specie.Mammal => landAnimal.MakeSound(),
        var airAnimal when airAnimal.Specie == Specie.Bird => airAnimal.MakeSound(),
        var fish when fish.Specie == Specie.Fish => "I vattnet hör ingen dig gråta (fiskar kan inte göra ljud under vatten)",

        _ => animal.MakeSound(),
    };
}

<script>
    function toggleDisplay(displayId) {
        var display = document.getElementById(displayId);
        if (display.style.display === "none") {
            display.style.display = "block";
        } else {
            display.style.display = "none";
        }
    }
</script>


